.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

@keyframes fadeIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

form {
  animation-name: fadeIn;
  animation-duration: 3s;
}
